<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Ticket Verse</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div th:fragment="navigation">
      <nav>
        <div class="navbar">
          <div class="brand-name">
            <a href="/">Ticket <span>Verse</span></a>
          </div>

          <ul class="nav-link">
            <li><a href="/">Home</a></li>
            <li
              th:fragments="logout"
              th:if="${#authorization.expression('isAuthenticated()')}"
            >
              <a href="/ticket_list">Tickets</a>
            </li>
            <li
              th:fragments="logout"
              th:if="${#authorization.expression('hasRole(''ROLE_VENDER'')')}"
            >
              <a href="/user_list">Users</a>
            </li>
            <li
              th:fragments="logout"
              th:if="${#authorization.expression('hasRole(''ROLE_VENDER'')')}"
            >
              <a href="/create_ticket">Add Ticket</a>
            </li>
            <li th:if="${not #authorization.expression('isAuthenticated()')}">
              <a href="/login">Login</a>
            </li>
            <li th:if="${not #authorization.expression('isAuthenticated()')}">
              <a href="/registration">Register</a>
            </li>
            <li
              th:fragments="logout"
              th:if="${#authorization.expression('isAuthenticated()')}"
            >
              <select class="user-options" onchange="location = this.value;">
                <option value="">
                  <span th:text="${#authentication.principal.username}"></span>
                </option>
                <option value="/logout">Logout</option>
              </select>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
