<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Display Ticket</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/ticket.css" />
  </head>
  <body>
    <div th:replace="fragments/Navbar :: navigation"></div>

    <div class="btn">
      <a href="/ticket_list">Back</a>
    </div>

    <div class="ticket-container">
      <div class="elements">
        <div class="content">
          <div class="title" th:text="${Ticket.event_name}"></div>
          <table>
            <tr>
              <td>Date:</td>
              <td th:text="${Ticket.event_date}"></td>
            </tr>
            <tr>
              <td>Venue:</td>
              <td th:text="${Ticket.venue_name}"></td>
            </tr>
            <tr>
              <td>Ticket Owner:</td>
              <td th:text="${Ticket.ticket_holder_name}"></td>
            </tr>
            <tr>
              <td>Owner Contact:</td>
              <td th:text="${Ticket.ticket_holder_contact}"></td>
            </tr>
            <tr>
              <td>Class:</td>
              <td th:text="${Ticket.ticket_type}"></td>
            </tr>
            <tr>
              <td>Price:</td>
              <td th:text="'$' +${Ticket.ticket_price}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div th:replace="fragments/Footer :: footer"></div>
  </body>
</html>
